In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('dhaka homeprices.csv')

In [6]:
df

   area   price
0  2600   55000
1  3000   56500
2  3200   61000
3  3600   68000
4  4000   72000
5  5000   71000
6  2500   40000
7  2700   38000
8  1200   17000
9  5000  100000

In [10]:
x = df [['area']]
y = df ['price']

In [11]:
x

   area
0  2600
1  3000
2  3200
3  3600
4  4000
5  5000
6  2500
7  2700
8  1200
9  5000

In [12]:
y

0     55000
1     56500
2     61000
3     68000
4     72000
5     71000
6     40000
7     38000
8     17000
9    100000
Name: price, dtype: int64

In [13]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size = 0.30, random_state = 1)

In [14]:
xtrain

   area
4  4000
0  2600
3  3600
1  3000
7  2700
8  1200
5  5000

In [15]:
ytest

2     61000
9    100000
6     40000
Name: price, dtype: int64

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
reg = LinearRegression()

In [19]:
reg.fit(xtrain, ytrain)

LinearRegression()

In [20]:
reg.predict(xtest)

array([54577.95521897, 81852.07441554, 43971.35330919])

In [22]:
reg.predict([[5000]])

array([81852.07441554])